---
title: Installing and Configuring Pivotal Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %>.

## <a id='overview'></a> Overview

<%= vars.product_short %> consists of a front end command line interface (CLI) named `pdc` and a backing set
of custom resource definitions (CRDs) and custom controllers.

## <a id='prereqs'></a> Prerequisites

* Private internal registry, such as Harbor
* Docker

## <a id='install'></a> Install and Configure <%= vars.product_short %>

### <a id='install-pdc'></a> Installing Developer Console

### <a id='install-duffle'></a> Install Duffle

1. Download the most recent Duffle binary from [duffle](https://github.com/deislabs/duffle/releases) in
GitHub.

1. Make the binary executable by running:

    ```
    chmod +x ~/Downloads/duffle-darwin
    ```

1. Move the binary to your path by running:

    ```
    mv ~/Downloads/duffle-darwin /usr/local/bin/duffle
    ```

1. Verify that Duffle works by running:

    ```
    duffle --help
    ```

### <a id='relocate'></a> Relocate Images

To relocate images:

1. Log in to your private registry by running:

    ```
    docker login harbor.example.com
    ```

1. Relocate the images by running:

    ```
    duffle relocate developer-console-VERSION.tgz \ <%# Where does the reader get this tarball? %>
        --bundle-is-file  \
        --relocation-mapping /tmp/mapping.json \
        --repository-prefix harbor.example.com/your-project
    ```

    Where `VERSION` is the number in the filename.

    This stores the mapping output in a file called `/tmp/mapping.json`.

    <p class="note">By default, duffle will store state on your local machine in the `$HOME/.duffle` directory. This means that any future duffle commands (e.g. uninstalling) should be run from the same developer machine. </p>
    
    <p class="note">The output file `/tmp/mapping.json` should also be saved somewhere safe as it is required to uninstall PDC.</p>

### <a id='install-cnab'></a> Install the CNAB Bundle

To install the CNAB bundle:

1. Create a credentials file called `developer-console-creds.yaml` with the contents below.

    ```
    name: developer-console-creds
    credentials:
    - name: kubeconfig
      source:
        path: PATH-TO-KUBECONFIG # for example: /Users/pivotal/.kube/config
    - name: registry_url
      source:
        value: REGISTRY-URL # for example: <%# give an example %>
    - name: registry_email
      source:
        value: REGISTRY-ACCOUNT-EMAIL
    - name: registry_username
      source:
        value: REGISTRY-USERNAME
    - name: registry_password
      source:
        value: REGISTRY-PASSWORD
    ```

1. Install the bundle, referencing the mapping file created in [Relocate Images](#relocate).

    ```
    duffle install developer-console developer-console-VERSION.tgz \
        --bundle-is-file \
        --credentials developer-console-creds.yaml \
        --relocation-mapping /tmp/mapping.json
    ```

    Where `VERSION` is the number in the filename.

<%# Should the below step really be here? %>

1. Uninstall, passing in the mapping file from the relocation step.

    ```
    duffle uninstall developer-console \
        --credentials developer-console-creds.yaml \
        --relocation-mapping /tmp/mapping.json
    ```

### <a id='download-pdc'></a> Download the Developer Console CLI <%# Is this really part of installation? %>

1. Download the `pdc` CLI tool. For more information about it, see
[marketplace](https://github.com/pivotal/marketplace) in GitHub.
