---
title: Installing and Configuring Pivotal Developer Console
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %>.

## <a id='overview'></a> Overview

## <a id='requirements'></a> Prerequisites

##<a id='install'></a> Install and Configure <%= vars.product_short %>

## Installing Developer Console

### Install Duffle

1. Download the duffle binary from https://github.com/deislabs/duffle/releases
1. Make the binary executable `chmod +x ~/Downloads/duffle-darwin`
1. Move the binary to your path `mv ~/Downloads/duffle-darwin /usr/local/bin/duffle`
1. Verify duffle works by running `duffle --help`

### Relocate images
Login to your private registry
```
docker login harbor.example.com
```

Relocate your images, storing the mapping output in a file called `/tmp/mapping.json`
```
duffle relocate developer-console-<VERSION>.tgz \
    --bundle-is-file  \
    --relocation-mapping /tmp/mapping.json \
    --repository-prefix harbor.example.com/your-project
```
Note: the registry project needs to have been created previously

### Install the CNAB bundle

Create a credentials file called `developer-console-creds.yaml` with the contents below, substituting in your the path tor your kubeconfig and your registry credentials.
```
name: developer-console-creds
credentials:
- name: kubeconfig
  source:
    path: PATH_TO_KUBECONFIG (e.g. /Users/pivotal/.kube/config)
- name: registry_url
  source:
    value: REGISTRY_URL
- name: registry_email
  source:
    value: REGISTRY_ACCOUNT_EMAIL
- name: registry_username
  source:
    value: REGISTRY_USERNAME
- name: registry_password
  source:
    value: REGISTRY_PASSWORD
```

Install the bundle, passing in the mapping file from the relocation step.
```
duffle install developer-console developer-console-<VERSION>.tgz \
    --bundle-is-file \
    --credentials developer-console-creds.yaml \
    --relocation-mapping /tmp/mapping.json
```

Uninstall, passing in the mapping file from the relocation step.
```
duffle uninstall developer-console \
    --credentials developer-console-creds.yaml \
    --relocation-mapping /tmp/mapping.json
```

### Interact with the Developer Console

Download and use the `pdc` CLI tool, see [marketplace](https://github.com/pivotal/marketplace) for more details.
