---
title: Installing and Configuring Pivotal Developer Console
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %>.

## <a id='overview'></a> Overview

## <a id='prereqs'></a> Prerequisites

* Private internal registry, such as Harbor
* Docker

## <a id='install'></a> Install and Configure <%= vars.product_short %>

### <a id='install-pdc'></a> Installing Developer Console

### <a id='install-duffle'></a> Install Duffle

1. Download the most recent Duffle binary from https://github.com/deislabs/duffle/releases
1. Make the binary executable `chmod +x ~/Downloads/duffle-darwin`
1. Move the binary to your path `mv ~/Downloads/duffle-darwin /usr/local/bin/duffle`
1. Verify that Duffle works by running `duffle --help`

### <a id='relocate'></a> Relocate images

To relocate images:

1. Log in to your private registry by running:

    ```
    docker login harbor.example.com
    ```

1. Relocate your images, storing the mapping output in a file called `/tmp/mapping.json`

    ```
    duffle relocate developer-console-<VERSION>.tgz \
        --bundle-is-file  \
        --relocation-mapping /tmp/mapping.json \
        --repository-prefix harbor.example.com/your-project
    ```

    <p class="note">
      <strong>Note:</strong> The registry project needs to have been created previously.
    </p>

### <a id='install-cnab'></a> Install the CNAB Bundle

1. Create a credentials file called `developer-console-creds.yaml` with the contents below, replacing the
placeholders with your values.

    ```
    name: developer-console-creds
    credentials:
    - name: kubeconfig
      source:
        path: PATH-TO-KUBECONFIG # for example: /Users/pivotal/.kube/config
    - name: registry_url
      source:
        value: REGISTRY-URL # for example: <%# give an example %>
    - name: registry_email
      source:
        value: REGISTRY-ACCOUNT-EMAIL
    - name: registry_username
      source:
        value: REGISTRY-USERNAME
    - name: registry_password
      source:
        value: REGISTRY-PASSWORD
    ```

1. Install the bundle, passing in the mapping file from the relocation step.

    ```
    duffle install developer-console developer-console-<VERSION>.tgz \
        --bundle-is-file \
        --credentials developer-console-creds.yaml \
        --relocation-mapping /tmp/mapping.json
    ```

1. Uninstall, passing in the mapping file from the relocation step.

    ```
    duffle uninstall developer-console \
        --credentials developer-console-creds.yaml \
        --relocation-mapping /tmp/mapping.json
    ```

### <a id='interact'></a> Interact with the Developer Console <%# Is this really part of installation? %>

1. Download and use the `pdc` CLI tool. For more information about it, see
[marketplace](https://github.com/pivotal/marketplace) in GitHub.
