---
title: Developer Console documentation (Alpha)
owner: Marketplace
---

<p class="note important">
  <strong>Important:</strong> Developer Console is no longer supported. This documentation
  has been archived.
</p>
<br>

The alpha version of Developer Console enabled platform teams to register and curate Open
Service Broker API (OSBAPI) compliant service brokers, running anywhere, from a single centralized
location.

App teams can then use these brokers to provision services and retrieve credentials through the
Developer Console command line interface (CLI) tool.
The apps use these credentials to access the service instances, even if the apps exist across multiple
runtime environments, such as Tanzu Application Service for VMs and Tanzu Kubernetes Grid Integrated Edition.
