---
title: Maintaining Pivotal Developer Console
owner: Partners
---

<strong><%= modified_date %></strong>

This topic describes how to maintain <%= vars.product_full %>.

## <a id='overview'></a> Overview

## <a id='requirements'></a> Prerequisites
