---
title: Release Notes for Pivotal Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0-2-0"></a> v0.2.0–alpha.2

**Release Date:** MONTH DAY, 2020

### Features

New features and changes in this release:

* 

* 
[//]: # (if there are no new features - only fixes - omit features section.)

### Security Fixes

This release includes the following security fixes:

* 
* 

### Resolved Issues

This release has the following fix:

*


### Known Issues

[//]: # (all known issues were fixed so we can say...)
There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
