---
title: Release Notes for Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0-3-0"></a> v0.3.0–alpha.3

**Release Date:** MONTH DAY, 2020


### Features

New features and changes in this release:

* You can register Cloud Foundry deployments with <%= vars.product_short %>.
You can then retrieve the registered Cloud Foundry deployments by running `pdc cloudfoundry list`.<br>
For more information, see [Register a Cloud Foundry Deployment](./using-providing.html#register-cfs).

* You can wire a service instance provisioned through <%= vars.product_short %>
to an app in a registered Cloud Foundry deployment by passing an additional flag of the form
`--app=CF-NAME/ORG-NAME/SPACE-NAME/APP-NAME` to `pdc binding create`.<br>
For more information, see
[Bind a Service Instance to an App That Runs in Cloud Foundry](./using-provisioning.html#bind-instance-to-cf).

* The Kubernetes API group for projects is now `projects.pivotal.io`.


### Known Issues

This release has the following issues:

* The [Install the CNAB](installing.html#install-cnab) steps fail if `REGISTRY-PASSWORD` contains a
`$` character.

* If you remove a user's last remaining group membership in a backing identity provider, such as
Lightweight Directory Access Protocol (LDAP), the User Account and Authentication (UAA) server does
not reflect this change.
This can result in the UAA server generating tokens for users that grant permissions for groups that
the users are not in anymore.
This is a UAA issue.
To prevent this issue, create a group that grants no permissions and assign a user to that group before
removing the rest of that user's group memberships.

* You cannot create service instances for any brokers registered with a name of more than 63 characters.

* Binding to a Cloud Foundry app fails if the app name and the binding name combined have more than 49
characters.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top
of this page.
