---
title: Release Notes for Pivotal Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0.1.0-alpha.1"></a> v0.1.0–alpha.1

**Release Date:** December 6, 2019

### Features

The initial alpha release enables:

* Registering of Open Service Broker API (OSBAPI) compliant service brokers
* Assignment of app teams to projects for isolation purposes
* Provisioning of instances within a project
* Creation of bindings for instances and retrieval of the credentials

### Known Issues

This release has the following issues:

* The Kubernetes API version for the Project CRD (custom resource definition) is v1.
  However, the API might still be unstable.

* The [Install the CNAB](installing.html#install-cnab) steps fail if `REGISTRY-PASSWORD` contains a `$` character.

* Due to a bug in UAA, removing the last group from a user in the backing identity provider, such as LDAP, is not reflected in UAA.
  This can result in tokens being generated for users which grant them permissions for groups that they are no longer
  members of. In order to circumvent this issue, UAA suggests creating a group that grants no permissions and to
  assign users to that group when removing from all other groups.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
