---
title: Release Notes for Pivotal Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0-2-0"></a> v0.2.0–alpha.2

**Release Date:** MONTH DAY, 2020


### Features

New features and changes in this release:

* Adds the `pdc project list` command to enable app developers to view the projects that they have access to

* Prevents the creation of projects with the same name as an existing namespace

* Validates that the project exists when a user runs `pdc project use`

* Renames `pdc broker delete` as `pdc broker deregister` to make it more consistent with other CLI command names


### Resolved Issues

This release has the following fix:

* The Kubernetes API version for Project CRD (custom resource definition) is now correctly labelled v1alpha1,
reflecting its alpha status.


### Known Issues

This release has the following issues:

* The [Install the CNAB](installing.html#install-cnab) steps fail if `REGISTRY-PASSWORD` contains a `$` character.

* If you remove a user's last remaining group membership in a backing identity provider, such as Lightweight
Directory Access Protocol (LDAP), the User Account and Authentication (UAA) server does not reflect this change.
This can result in the UAA server generating tokens for users that grant permissions for groups that the users
are not in anymore.
This is a UAA issue.
To prevent this issue, create a group that grants no permissions and assign a user to that group before
removing the rest of that user's group memberships.


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
