---
title: Release Notes for Pivotal Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0-2-0"></a> v0.2.0–alpha.2

**Release Date:** MONTH DAY, 2020

### Features

New features and changes in this release:

*

*
[//]: # (if there are no new features - only fixes - omit features section.)

### Security Fixes

This release includes the following security fixes:

*
*

### Resolved Issues

This release has the following fix:

*


### Known Issues

This release has the following issues:

* The Kubernetes API version for the Project CRD (custom resource definition) is v1.
  However, the API might still be unstable.

* The [Install the CNAB](installing.html#install-cnab) steps fail if `REGISTRY-PASSWORD` contains a `$` character.

* Due to a bug in UAA, removing the last group from a user in the backing identity provider, such as LDAP, is not reflected in UAA.
  This can result in tokens being generated for users which grant them permissions for groups that they are no longer
  members of. In order to circumvent this issue, UAA suggests creating a group that grants no permissions and to
  assign users to that group when removing from all other groups.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
