---
title: Release Notes for Pivotal Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

##<a id="0.1.0-alpha.1"></a> v0.1.0-alpha.1

**Release Date:** Christmas

### Features

Initial alpha release which allows:

* Registering of OSBAPI compliant services
* Assignment of application teams to "Projects" for isolation purposes
* Provisioning of instances within a "Project"
* Creation of bindings, i.e. credentials, for instances and retrieval of the credentials

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
