---
title: Release Notes for Pivotal Developer Console
owner: Partners
---

<strong><%= modified_date %></strong>

**This topic should include the Release Notes for your product. For examples, see the
[Release Notes for Pivotal Service Instance Manager](http://docs.pivotal.io/service-instance-manager/release-notes.html).
When you release a new version, add new release notes to this file, keeping the older notes below.**

These are release notes for <%= vars.product_full %>.

##<a id="x-x-x"></a> vCURRENT-VERSION-NUMBER (Ex. v1.0.1)

**Release Date:** RELEASE-DATE (Ex. October 1, 2017)

### Features

Features included in this release:

* Feature one.
* Feature two.
* Feature three.

### Resolved Issues

Fixed issues in this release:

* Fixed issue one.
* Fixed issue two.
* Fixed issue three.

**When you have fixed issue, you should have a corresponding known issue in the release below.**

### Known Issues

Known issues in this release:

* Issue one.
* Issue two.
* Issue three.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
