---
title: Release Notes for Pivotal Developer Console
owner: Marketplace
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0-2-0"></a> v0.2.0–alpha.2

**Release Date:** MONTH DAY, 2020

### Features

New features and changes in this release:

* Added `pdc project list` command to allow application developers to view the projects that they have access to.

* Prevent creation of projects with the same name as an existing namespace.

* Validate that the project exists when a user runs `pdc project use`.

* Renamed `pdc broker delete` to `pdc broker deregister` to have more consistency in cli command names.

### Resolved Issues

This release has the following fix:

* Updated the Kubernetes API version for Project CRD (custom resource definition) to v1alpha1 to reflect its alpha status.

### Known Issues

This release has the following issues:

* The [Install the CNAB](installing.html#install-cnab) steps fail if `REGISTRY-PASSWORD` contains a `$` character.

* Due to a bug in UAA, removing the last group from a user in the backing identity provider, such as LDAP, is not reflected in UAA.
  This can result in tokens being generated for users which grant them permissions for groups that they are no longer
  members of. In order to circumvent this issue, UAA suggests creating a group that grants no permissions and to
  assign users to that group when removing from all other groups.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from the dropdown at the top of this
page.
