<%# Add step about getting necessary information from YAML file that should have been kept after installation. %>

1. Uninstall, passing in the mapping file from the relocation step.

    ```
    duffle uninstall developer-console \
        --credentials developer-console-creds.yaml \
        --relocation-mapping /tmp/mapping.json
    ```

## <a id="feedback"></a> Feedback

If you have a feature request, questions, or information about an issue, please email
[<%= vars.product_abbr %> Feedback](mailto:pdc-feedback@pivotal.io).

<p class="note">
  <strong>Note:</strong> Support for <%= vars.product_short %> is limited, currently, because it is directly
  supported by the <%= vars.product_abbr %> engineers, not Pivotal Support.
</p>
