<%# Keep this out of the subnav until after the first release -- it's a "nice to have" %>

1. Uninstall, passing in the mapping file from the relocation step.

    ```
    helm uninstall developer-console -n pdc-system
    ```

## <a id="feedback"></a> Feedback

<%= partial vars.path_to_partials + '/developer-console/alpha-feedback' %>
